<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>I enjoy helping users create solutions that deliver their needs, in a simple way.</p>
                    <p>When I'm not having fun experimenting with web technologies, I'm playing drums in bands,
                    creating music, going on hikes, and enjoying life.
                    Also probably fixing my grandmother's printer, that happens from time to time.</p>
                    <p>Reach me at <a href = "mailto: stormkaefer@gmail.com">stormkaefer@gmail.com</a>.</p>
                </div>
            </div>
        </div>
    </section>